@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Russo+One&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #120101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #000505; */
  transition: all 500ms;
  background-image: url("https://i.ibb.co/Ns6HHR9/image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0c000cea;
  background-blend-mode: multiply;
}

h1 {
  font-family: "Courgette";
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  transition: all 600ms;
}
h1:hover {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=370170&c2=ccb8f2&gt=l&gd=dtl
*/
  background: linear-gradient(135deg, #370170, #ccb8f2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

h2,
h3,
h4,
p {
  font-family: "Courgette";
  font-size: 1.5rem;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=9fdb30&c2=60d6ae&gt=l&gd=dtl
*/
  background: #9fdb30;
  background: linear-gradient(135deg, #9fdb30, #60d6ae);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 11rem;
  text-align: center;
  /* From https://css.glass */
  background: rgba(15, 14, 14, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(15, 14, 14, 0.3);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 14px 16px;
  width: 100%;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Russo One";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:active {
  transform: translateY(15px) scale(0.95);
}
button:hover {
  border-color: #646cff;
  box-shadow: 0 0 20px rgb(249, 139, 255), 0 0 40px rgba(8, 88, 127, 1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
